[submodule "cmd/micro/vendor/github.com/blang/semver"]
	path = cmd/micro/vendor/github.com/blang/semver
	url = https://github.com/blang/semver
[submodule "cmd/micro/vendor/github.com/dustin/go-humanize"]
	path = cmd/micro/vendor/github.com/dustin/go-humanize
	url = https://github.com/dustin/go-humanize
[submodule "cmd/micro/vendor/github.com/go-errors/errors"]
	path = cmd/micro/vendor/github.com/go-errors/errors
	url = https://github.com/go-errors/errors
[submodule "cmd/micro/vendor/github.com/mattn/go-isatty"]
	path = cmd/micro/vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty
[submodule "cmd/micro/vendor/github.com/mattn/go-runewidth"]
	path = cmd/micro/vendor/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
[submodule "cmd/micro/vendor/github.com/mitchellh/go-homedir"]
	path = cmd/micro/vendor/github.com/mitchellh/go-homedir
	url = https://github.com/mitchellh/go-homedir
[submodule "cmd/micro/vendor/github.com/sergi/go-diff"]
	path = cmd/micro/vendor/github.com/sergi/go-diff
	url = https://github.com/sergi/go-diff
[submodule "cmd/micro/vendor/github.com/yuin/gopher-lua"]
	path = cmd/micro/vendor/github.com/yuin/gopher-lua
	url = https://github.com/yuin/gopher-lua
[submodule "cmd/micro/vendor/golang.org/x/net"]
	path = cmd/micro/vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "cmd/micro/vendor/github.com/zyedidia/clipboard"]
	path = cmd/micro/vendor/github.com/zyedidia/clipboard
	url = https://github.com/zyedidia/clipboard
[submodule "cmd/micro/vendor/github.com/zyedidia/glob"]
	path = cmd/micro/vendor/github.com/zyedidia/glob
	url = https://github.com/zyedidia/glob
[submodule "cmd/micro/vendor/github.com/zyedidia/tcell"]
	path = cmd/micro/vendor/github.com/zyedidia/tcell
	url = https://github.com/zyedidia/tcell
[submodule "cmd/micro/vendor/github.com/gdamore/encoding"]
	path = cmd/micro/vendor/github.com/gdamore/encoding
	url = https://github.com/gdamore/encoding
[submodule "cmd/micro/vendor/golang.org/x/text"]
	path = cmd/micro/vendor/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "cmd/micro/vendor/github.com/lucasb-eyer/go-colorful"]
	path = cmd/micro/vendor/github.com/lucasb-eyer/go-colorful
	url = https://github.com/lucasb-eyer/go-colorful
[submodule "cmd/micro/vendor/layeh.com/gopher-luar"]
	path = cmd/micro/vendor/layeh.com/gopher-luar
	url = https://github.com/layeh/gopher-luar
[submodule "cmd/micro/vendor/gopkg.in/yaml.v2"]
	path = cmd/micro/vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "cmd/micro/vendor/github.com/zyedidia/poller"]
	path = cmd/micro/vendor/github.com/zyedidia/poller
	url = https://github.com/zyedidia/poller
[submodule "cmd/micro/vendor/github.com/flynn/json5"]
	path = cmd/micro/vendor/github.com/flynn/json5
	url = https://github.com/flynn/json5
[submodule "cmd/micro/vendor/github.com/zyedidia/terminal"]
	path = cmd/micro/vendor/github.com/zyedidia/terminal
	url = https://github.com/zyedidia/terminal
[submodule "cmd/micro/vendor/github.com/zyedidia/pty"]
	path = cmd/micro/vendor/github.com/zyedidia/pty
	url = https://github.com/zyedidia/pty
