[Desktop Entry]

Name=Micro
GenericName=Text Editor
GenericName[ru]=Текстовый редактор
Comment=Edit text files in a terminal
Comment[ru]=Редактирование текстовых файлов в терминале

Icon=micro
Type=Application
Categories=Utility;TextEditor;Development;
Keywords=text;editor;syntax;terminal;
Keywords[ru]=текст;текстовый;редактор;подсветка;синтаксис;терминал;консоль;

Exec=micro %F
StartupNotify=false
Terminal=true
MimeType=text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;
